---
name: autofix.ci
on: { workflow_dispatch: {},  pull_request: {},  push: { branches: ["master"] } }
jobs:
  autofix:
    runs-on: ubuntu-latest
    # env: { DPRINT_CONFIG_DISCOVERY: global, DPRINT_CONFIG_DIR: ./configs }
    permissions: { contents: read }
    steps:
      - uses: actions/checkout@v6
      - uses: kjanat/install-dprint@v1
      - run: go install mvdan.cc/sh/v3/cmd/shfmt@latest
      - uses: dtolnay/rust-toolchain@stable
        with: { components: rustfmt }
      - uses: oven-sh/setup-bun@v2
      - run: bun i -g tombi just sort-package-json svgo --trust

      - run: dprint config update --recursive
      - run: dprint fmt --allow-no-files --diff --excludes ".github"

      - uses: autofix-ci/action@v1
