---
name: autofix.ci
on: { workflow_dispatch: {},  pull_request: {},  push: { branches: ["master"] } }
permissions: { contents: write }
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: kjanat/install-dprint@v1
      - uses: mfinelli/setup-shfmt@v4
      - uses: dtolnay/rust-toolchain@stable
        with: { components: rustfmt }
      - uses: oven-sh/setup-bun@v2
      - run: bun i -g tombi just sort-package-json svgo

      - run: dprint config update

        # autofix-ci will fail if the .github directory is touched
      - run: dprint fmt --config configs/dprint.jsonc --allow-no-files --diff --excludes ".github"

      - uses: autofix-ci/action@v1
