---
name: autofix.ci
on: { workflow_dispatch: {}, pull_request: {}, push: { branches: ["master"] } }
jobs:
  autofix:
    runs-on: ubuntu-latest
    # env: { DPRINT_CONFIG_DISCOVERY: global, DPRINT_CONFIG_DIR: ./configs }
    permissions: { contents: read }
    steps:
      - { uses: actions/checkout@v6 }
      - { uses: oven-sh/setup-bun@v2 }
      - { uses: kjanat/install-dprint@v1 }
      # - { uses: dtolnay/rust-toolchain@stable, with: { components: rustfmt } }

      - run: go install mvdan.cc/sh/v3/cmd/shfmt@latest
      - run: bun i -g tombi just sort-package-json svgo --trust

      - run: dprint config update --recursive
      - run: dprint fmt --allow-no-files --diff --excludes ".github"

      - uses: autofix-ci/action@v1
